%featureicon {
  display: flex;
  justify-content: center;
  color: white;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

%featureiconafter {
  display: block;
  width: 100%;
}

%featureiconshape {
  background-color: #f5f4fa;
}

%flex {
  display: flex;
  align-items: center;
}

%contactlist {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: auto;
}

%navlink {
  display: flex;
  position: relative;
  justify-content: center;
  color: rgb(20%, 20%, 20%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%herobutton {
  font-family: var(--font-family);
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  display: block;
  letter-spacing: 0.06em;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0%, 50%, 100%);
  padding-top: 10px;
  padding-bottom: 10px;
}

%hero {
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./image/Img.png");
  align-items: center;
  justify-content: center;
}

%socialteam {
  display: flex;
  justify-content: center;
  align-items: center;
}

%sociallink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

%team {
  background-color: rgb(95%, 95%, 95%);
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

%navigationlist {
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  color: $text-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

%image {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

%imagelist {
  width: 215px;
  display: flex;
  column-gap: 30px;
}

%imagecontainer {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  align-content: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  bottom: 0px;
}

%clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

%clientslogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;
  transition: 250ms;
  fill: #afb1b8;
}

%clientsicon {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

%footer {
  background-color: rgb(20%, 20%, 20%);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

%footericons {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
}

%footerinput {
  margin-left: 93px;
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}

%portfoliocard {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 20px;
}
