.images {
  @extend %image;
  .image_title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    padding-bottom: 50px;
  }

  .image_list {
    width: 215px;
    @extend %imagelist;
    .image_list_photo {
      position: relative;
    }

    .image_list_photo_image {
      width: 370px;
      height: 294px;
    }

    .image_list_container {
      @extend %imagecontainer;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
