.images {
  @extend %image;
  .image_title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    padding-bottom: 50px;
  }

  .image_list {
    @extend %imagelist;
    .image_list_photo {
      position: relative;
    }

    .image_list_photo_image {
      width: 370px;
      height: 294px;
    }

    .image_list_container {
      @extend %imagecontainer;
    }
  }
}
