.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: transform 250ms;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 480px) {
    max-width: 480px;
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 480px) {
    max-width: 768px;
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 768px) {
    max-width: 1200px;
    width: 528px;
    height: 581px;
  }
  .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &:hover {
      fill: rgb(0%, 50%, 100%);
    }
    @media screen and (max-width: 480px) {
      top: 8px;
      right: 8px;
    }
    @media screen and (min-width: 480px) {
      top: 8px;
      right: 8px;
    }
    @media screen and (min-width: 768px) {
      top: 15px;
      right: 15px;
    }
  }

  .modal-close-stroke {
    stroke: 1px solid black;
  }

  .modal-close-icon {
    fill: black;
  }

  .modal-text {
    margin-top: 40px;
    text-align: center;
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }

  .modal-form {
    margin-top: 12px;
  }

  .modal-form-field + .modal-form-field {
    margin-top: 10px;
  }

  .modal-form-label {
    display: block;
    margin-bottom: 4px;
    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
    @media screen and (min-width: 480px) {
      font-size: 12px;
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }

  .modal-form-label-input {
    width: 448px;
    height: 40px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 12px 40px;
    margin-bottom: 5px;
    display: block;
    @media screen and (max-width: 480px) {
      width: 370px;
      height: 40px;
      padding: 10px 40px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 480px) {
      width: 370px;
      height: 40px;
      padding: 10px 40px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      width: 448px;
      height: 40px;
      padding: 12px 40px;
      margin-bottom: 10px;
    }
  }

  .modal-textarea {
    border-radius: 4px;
    width: 448px;
    height: 120px;
    border: 1px solid #afb1b8;
    margin-bottom: 20px;
    @media screen and (max-width: 480px) {
      width: 370px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 370px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 448px;
      height: 120px;
    }
  }
}

.input-wrapper {
  position: relative;
  &:active {
    border: 1px solid #2196f3;
    width: 448px;
    height: 40px;
    margin-bottom: 5px;
  }

  .input-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    &:active,
    &:focus,
    &:visited {
      fill: #2196f3;
    }
  }
  .input_check_check {
    justify-content: center;
    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
    @media screen and (min-width: 480px) {
      font-size: 12px;
    }
  }
}

.comments-area {
  resize: none;
  border-radius: 4px;
  width: 448px;
  height: 120px;
  border: 1px solid #afb1b8;
  margin-bottom: 20px;
  @media screen and (max-width: 480px) {
    width: 370px;
    height: 120px;
  }
  @media screen and (min-width: 480px) {
    width: 370px;
    height: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 448px;
    height: 120px;
  }
}

.form-field-check {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.button_send {
  position: relative;
  left: 33.34%;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  @media screen and (max-width: 480px) {
    margin-top: 30px;
    margin-bottom: 30px;
    left: 25%;
  }
  @media screen and (min-width: 480px) {
    margin-top: 30px;
    margin-bottom: 30px;
    left: 25%;
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 40px;
    left: 33.34%;
  }
}
