@media (max-width: 479px) {
  .header {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin-left: auto;
    margin-right: auto;
  }
  .hero_title {
    width: 360px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.62;
    word-spacing: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature_list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
  }
}
