.clients {
  @extend %clients;
}

.clients_title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.clients_icon {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover {
    border-color: rgb(0%, 50%, 100%);
  }
  &:hover .clients_icon_logo {
    fill: rgb(0%, 50%, 100%);
  }
  .clients_icon_logo {
    @extend %clientslogo;
    &:hover,
    &:focus {
      fill: rgb(0%, 50%, 100%);
      border-color: rgb(0%, 50%, 100%);
    }
  }
}

.clients_icon_all {
  @extend %clientsicon;
}
