.clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients_title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.clients_icon {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients_icon:hover {
  border-color: rgb(0%, 50%, 100%);
}

.clients_icon:hover .clients_icon_logo {
  fill: rgb(0%, 50%, 100%);
}

.clients_icon_all {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.clients_icon_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;
  transition: all 250ms;
  fill: #afb1b8;
}

.clients_icon_logo:hover,
.clients_icon_logo:focus {
  fill: rgb(0%, 50%, 100%);
  border-color: rgb(0%, 50%, 100%);
}
