.features {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  .feature_list {
    // width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    @media screen and (max-width: 480px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .feature_item {
    width: 300px;
    height: 248px;
    display: inline;
    align-items: end;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 226px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 224px;
    }
    @media screen and (min-width: 768px) {
      width: 300px;
      height: 248px;
    }
  }

  .feature_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $text-color;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }
  .feature_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color2;
    flex-wrap: wrap;
    @media screen and (max-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
    }
  }

  .feature_icon_background {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 20px;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      height: 120px;
    }
  }

  .feature_icon1 {
    width: 270px;
    height: 120px;
    @extend %featureicon;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      height: 120px;
    }
    &:hover::after {
      @extend %featureiconafter;
    }
  }

  .feature_icon1:hover::after {
    @extend %featureiconafter;
  }

  .feature_icon_shape1 {
    @extend %featureiconshape;
  }

  .feature_icon2 {
    width: 270px;
    height: 120px;
    @extend %featureicon;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      height: 120px;
    }
    &:hover::after {
      @extend %featureiconafter;
    }
  }

  .feature_icon2:hover::after {
    @extend %featureiconafter;
  }

  .feature_icon_shape2 {
    @extend %featureiconshape;
  }

  .feature_icon3 {
    width: 270px;
    height: 120px;
    @extend %featureicon;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      height: 120px;
    }
    &:hover::after {
      @extend %featureiconafter;
    }
  }

  .feature_icon_shape3 {
    @extend %featureiconshape;
  }

  .feature_icon4 {
    width: 270px;
    height: 120px;
    @extend %featureicon;
    @media screen and (max-width: 480px) {
      width: 450px;
      height: 120px;
    }
    @media screen and (min-width: 480px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 768px) {
      width: 270px;
      height: 120px;
    }
    &:hover::after {
      @extend %featureiconafter;
    }
  }

  .feature_icon_shape4 {
    @extend %featureiconshape;
  }
}
