.footer .logo {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer {
  @extend %footer;
  @media screen and (max-width: 481px) {
    height: 603px;
  }
  @media screen and (max-width: 769px) {
    height: 453px;
  }
  .footer_position {
    display: flex;
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      row-gap: 60px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 60px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      row-gap: 60px;
    }
  }

  .footer_info {
    display: block;
    @media screen and (min-width: 480px) {
      width: 410px;
      height: 127px;
    }
    @media screen and (min-width: 768px) {
      width: 232px;
      height: 127px;
      flex-grow: 1;
    }
    @media screen and (min-width: 1200px) {
      width: 232px;
      height: 127px;
      flex-grow: 1;
    }
  }

  .footer__text {
    padding-top: 9px;
    font-style: normal;
    @media screen and (min-width: 480px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  .footer_logo_studio {
    color: white;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
      flex-grow: 1;
    }
  }
  .footer_contact {
    .footer_contact_list {
      font-style: normal;
      @media screen and (min-width: 480px) {
        width: 232px;
        height: 79px;
        text-align: center;
      }

      @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media screen and (min-width: 1200px) {
        width: 232px;
        height: 79px;
        text-align: left;
      }
      .footer_contact_list__item {
        padding-top: 9px;
      }

      .footer_contact_list__item--link {
        color: $text-color2;
      }
    }
  }

  .footer_icon {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-top: 12px;
    @media screen and (min-width: 480px) {
      width: 206px;
      height: 80px;
      text-align: center;
      align-items: center;
      margin-left: 0px;
      margin-top: 0px;
    }
    @media screen and (min-width: 768px) {
      text-align: center;
      align-items: center;
      margin-left: 0px;
      margin-top: 0px;
      flex-grow: 1;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
      align-items: left;
      margin-left: 0px;
      margin-top: 0px;
      flex-grow: 1;
    }
    .footer_icon__title {
      font-family: $font-family;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding-bottom: 20px;
    }

    .footer_icon_list {
      display: flex;
      column-gap: 10px;
      justify-content: left;
      align-items: left;
      @media screen and (max-width: 1199px) {
        justify-content: center;
        align-items: center;
      }
    }

    .footer_icon_list_item {
      @extend %footericons;
      &:hover,
      &:focus {
        background-color: #2196f3;
      }
    }

    .footer_icon_list_item__link--platform {
      fill: white;
      align-items: center;
      justify-content: center;
    }
  }

  .footer_input_search {
    width: 570px;
    height: 86px;
    margin-left: 93px;
    margin-top: 12px;
    @extend %footerinput;
    @media screen and (min-width: 480px) {
      margin-left: 0px;
      margin-top: 0px;
    }
    .footer_input_search_label {
      margin-bottom: 20px;
      font-size: 14px;
      @media screen and (min-width: 480px) {
        text-align: center;
      }
      @media screen and (min-width: 768px) {
        text-align: center;
      }
      @media screen and (min-width: 1200px) {
        text-align: left;
        flex-grow: 1;
      }
    }

    .footer_input_search_container {
      display: flex;
      align-items: center;
      column-gap: 12px;
      @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      @media screen and (min-width: 768px) {
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: left;
        flex-grow: 1;
      }
    }

    .footer_input_search_name {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: rgba(33, 150, 243, 0);
      top: 10px;
      padding-left: 16px;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-size: 16px;
      line-height: 1.26;
    }
  }
}
