.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border: 1px solid #ececec;
  .header_position {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  color: rgb(0%, 50%, 100%);
  .logo_studio {
    color: black;
  }
}
.nav {
  margin-left: 193px;
  .nav_list {
    width: 281px;
    font-weight: 500;
    font-size: 14px;
    color: $text-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav_list__item {
    justify-content: space-between;
    .nav_list__item--link {
      display: flex;
      position: relative;
      justify-content: center;
      color: rgb(20%, 20%, 20%);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: rgb(0%, 50%, 100%);
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          top: 52px;
          background-color: rgb(0%, 50%, 100%);
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
    &::before {
      width: 2px;
    }
  }
}

.contact_list {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: auto;
  .contact_list_item__link {
    display: flex;
    color: rgb(20%, 20%, 20%);
    transition: all 250ms;
    justify-content: center;
    align-items: center;
    .contact_list_item__link--icon {
      margin-right: 10px;
      &:hover {
        color: rgb(0%, 50%, 100%);
      }

      &:hover .contact_list_item__link--icon {
        fill: rgb(0%, 50%, 100%);
      }
    }
  }
}
