.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border: 1px solid #ececec;
  max-width: 480px;
  .header_position {
    @extend %flex;
  }
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.logo {
  display: block;
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  color: rgb(0%, 50%, 100%);
  .logo_studio {
    color: black;
  }
}
.nav {
  margin-left: 193px;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    margin-left: 87px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 193px;
  }
  .nav_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @extend %navigationlist;
    @media screen and (max-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      margin-left: 56px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: -56px;
    }
  }

  .nav_list__item {
    justify-content: space-between;
    .nav_list__item--link {
      @extend %navlink;
      &:hover,
      &:focus {
        color: rgb(0%, 50%, 100%);
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          top: 52px;
          background-color: rgb(0%, 50%, 100%);
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
    &::before {
      width: 2px;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.contact_list {
  @extend %contactlist;
  .contact_list_item__link {
    display: flex;
    color: rgb(20%, 20%, 20%);
    transition: all 250ms;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }
    .contact_list_item__link--icon {
      margin-right: 10px;
      @media screen and (max-width: 480px) {
        display: none;
      }
      &:hover {
        color: rgb(0%, 50%, 100%);
      }

      &:hover .contact_list_item__link--icon {
        fill: rgb(0%, 50%, 100%);
      }
    }
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
