.portfolio {
  flex-basis: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  .portfolio_list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    @media screen and (max-width: 479px) {
      flex-wrap: wrap;
      justify-content: left;
      margin-top: 66px;
      margin-bottom: 40px;
    }
  }
  .portfolio_list_button {
    @media screen and (max-width: 479px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding-top: 0px;
      padding-bottom: 8px;
    }
  }

  .portfolio_card {
    @extend %portfoliocard;
    .portfolio_card_item {
      width: 370px;
      overflow: hidden;
      height: 404px;
      transition: all 250ms;
      &:hover,
      &:focus {
        background: #fff;
      }

      .portfolio_card_item_title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $text-color;
        margin-left: 10px;
        margin-top: 10px;
      }

      .portfolio_card_item_text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: $text-color2;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      .portfolio_card_item_image {
        overflow: hidden;
        position: relative;
        height: 294px;
        &:hover .portfolio_card_item_image_overlay {
          transform: translateX(0);
        }

        .portfolio_card_item_image_overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 370px;
          height: 294px;
          background-color: rgba(33, 150, 243, 0.9);
          color: white;
          align-content: center;
          padding: 24px;
          transform: translateY(100%);
          transition-property: transform;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.03em;
          line-height: 156%;
        }
      }

      &:nth-child(1) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/technocrack.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(2) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/neworleansgoldstar.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(3) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/seafood.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(4) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/projectprime.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(5) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/projectboxes.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(6) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/inspiration.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(7) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/limitededition.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(8) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/labeltag.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(9) .portfolio_card_item_image {
        background-image: url("../image/portfolioimage/growingbusiness.png");
        width: 370px;
        height: 294px;
        @media screen and (max-width: 479px) {
          width: 450px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 480px) {
          width: 354px;
          height: 294px;
          background-repeat: no-repeat;
        }
        @media screen and (min-width: 768px) {
          width: 370px;
          height: 294px;
          background-repeat: no-repeat;
        }
      }
      .portfolio_card_item_container {
        border: 1px solid #eeeeee;
      }
      @media screen and (max-width: 479px) {
        width: 450px;
        height: 404px;
      }
      @media screen and (min-width: 480px) {
        width: 354px;
        height: 440px;
      }
    }
  }
}
