.team {
  @extend %team;
  .team_text {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: $text-color;
    padding-bottom: 94px;
    align-items: left;
  }

  .team_list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    column-gap: 30px;
    .team_list_item {
      background-color: white;
      width: 270px;
      height: 428px;
      align-items: center;
      border-radius: 4px;
      box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      background: #fff;
      .team_list_item_name {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-color;
        padding-top: 30px;
        padding-bottom: 10px;
      }

      .team_list_item_text {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-color2;
        padding-bottom: 30px;
      }
      .team_list_item_photo {
        width: 270px;
        height: 260px;
        @media screen and (min-width: 480px) {
          width: 450px;
          height: 460px;
        }
        @media screen and (min-width: 768px) {
          width: 354px;
          height: 374px;
        }
        @media screen and (min-width: 1200px) {
          width: 270px;
          height: 260px;
        }
      }
      @media screen and (min-width: 480px) {
        width: 450px;
        height: 622px;
      }
      @media screen and (min-width: 768px) {
        width: 354px;
        height: 536px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
      }
    }

    .team_list_socials {
      @extend %socialteam;
      .team_list_socials_item_link {
        @extend %sociallink;
        &:hover {
          background-color: rgb(0%, 50%, 100%);
        }

        &:hover .team_list_item_icon_platform {
          fill: white;
        }
      }
    }

    .team_list_item_icon {
      display: inline;
      padding-left: 25px;
    }
    .team_list_item_icon_circle {
      fill: white;
      transition: all 250ms;
    }
    .team_list_item_icon_platform {
      fill: #afb1b8;
      width: 20px;
      height: 20px;
      transition: all 250ms;
    }
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 30px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      column-gap: 30px;
    }
  }

  .team_title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}
