.team {
  background-color: rgb(95%, 95%, 95%);
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_text {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 94px;
  align-items: left;
}

.team_list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  column-gap: 30px;
}

.team_title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.team_list_item {
  background-color: white;
  width: 270px;
  height: 428px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.team_list_item_name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team_list_item_text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color2);
  padding-bottom: 30px;
}

.team_list_socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_list_socials_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team_list_socials_item_link:hover {
  background-color: rgb(0%, 50%, 100%);
}

.team_list_socials_item_link:hover .team_list_item_icon_platform {
  fill: white;
}

.team_list_item_icon {
  display: inline;
  padding-left: 25px;
}

.team_list_item_icon_circle {
  fill: white;
  transition: all 250ms;
}
.team_list_item_icon_platform {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: all 250ms;
}
