@media (max-width: 479px) {
    .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    .features {
        display: flex;
        flex-wrap: wrap;
        flex: 25%;
    }
}