/* * {
  box-sizing: border-box;
}

:root {
  --text-color: #212121;
  --text-color2: #757575;
  --font-family: "Roboto";
  --second-family: "Raleway";
  --no-points: none;
}

body {
  font-family: var(--font-family);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  align-content: center;
}
.header_position {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: rgb(0%, 50%, 100%);
}
.logo_studio {
  color: black;
}
.nav {
  margin-left: 193px;
}

.nav_list {
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_list_item {
  justify-content: space-between;
}

.nav_list_item_link {
  display: flex;
  position: relative;
  justify-content: center;
  color: rgb(20%, 20%, 20%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_list_item_link:hover,
.nav_list_item_link:focus {
  color: rgb(0%, 50%, 100%);
}

.nav_list_item_link:hover::after,
.nav_list_item_link:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 52px;
  background-color: rgb(0%, 50%, 100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_list {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: auto;
} */

/* .contact_list_item {
} */

/* .contact_list_item_link {
  display: flex;
  color: rgb(20%, 20%, 20%);
  transition: all 250ms;
  justify-content: center;
  align-items: center;
}

.contact_list_item_link_icon {
  margin-right: 10px;
}

.contact_list_item_link:hover {
  color: rgb(0%, 50%, 100%);
}

.contact_list_item_link:hover .contact_list_item_link_icon {
  fill: rgb(0%, 50%, 100%);
} */

/* .nav_list_item:hover {
} */

/* .nav_list_item::before {
  width: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: transform 250ms;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  background-color: none;
  border: none;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal-close-stroke {
  stroke: 1px solid black;
}

.modal-text {
  margin-top: 40px;
  text-align: center;
}

.modal-form {
  margin-top: 12px;
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.input-wrapper {
  position: relative;
  left: 40px;
}

.input-wrapper:active {
  border: 1px solid #2196f3;
  width: 448px;
  height: 40px;
  margin-bottom: 5px;
}

.input-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input-icon:active {
  fill: #2196f3;
}

.modal-form-label {
  position: relative;
  left: 40px;
  padding-bottom: 4px;
}

.modal-form-label-input {
  width: 448px;
  height: 40px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 12px 40px;
  margin-bottom: 5px;
  display: block;
}

.modal-textarea {
  position: relative;
  left: 40px;
  border-radius: 4px;
  width: 448px;
  height: 120px;
  border: 1px solid #afb1b8;
  margin-bottom: 20px;
}

.comments-area {
  resize: none;
  border: none;
}

.form-field-check {
  display: flex;
  justify-content: center;
}

.input_check_check {
  justify-content: center;
}

.button_send {
  position: relative;
  left: 33.34%;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.hero {
  background-image: url("../image/Img.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 0px 0px black, 1px 0px 0px 0px black,
    0px -1px 0px 0px black, -1px 0px 0px 0px black,
    0px 3px 5px 0px rgb(20%, 20%, 20%);
}

.hero_image {
    animation-name: slide;
  animation-delay: 0ms;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
}

@keyframes slide {
  0% {
  }
  50% {
  }
  100% {
  }
}

.hero_title {
  width: 696px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  word-spacing: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
} */

/* .list_navigation {
} */

/* .features {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}

.feature_list {
  width: 1170px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 30px;
}

.feature_item {
  width: 300px;
  height: 248px;
  display: inline;
  align-items: end;
}

.feature_title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.feature_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color2);
}

.feature_icon_background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 20px;
}

.feature_icon1 {
  display: flex;
  justify-content: center;
  color: white;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature_icon1:hover::after {
  display: block;
  width: 100%;
}

.feature_icon_shape1 {
  background-color: #f5f4fa;
}

.feature_icon2 {
  display: flex;
  justify-content: center;
  color: white;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature_icon2:hover::after {
  display: block;
  width: 100%;
}

.feature_icon_shape2 {
  background-color: #f5f4fa;
}

.feature_icon3 {
  display: flex;
  justify-content: center;
  color: white;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature_icon3:hover::after {
  display: block;
  width: 100%;
}

.feature_icon_shape3 {
  background-color: #f5f4fa;
}

.feature_icon4 {
  display: flex;
  justify-content: center;
  color: white;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature_icon4:hover::after {
  display: block;
  width: 100%;
}

.feature_icon_shape4 {
  background-color: #f5f4fa;
}

.hero_button {
  font-family: var(--font-family);
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  display: block;
  letter-spacing: 0.06em;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0%, 50%, 100%);
  padding-top: 10px;
  padding-bottom: 10px;
}

.images {
  margin-left: auto;
  margin-right: auto;
}
.image_title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 50px;
}

.image_list {
  width: 215px;
  display: flex;
  column-gap: 30px;
}

.image_list_photo {
  position: relative;
}

.image_list_photo_image {
  width: 370px;
  height: 294px;
}

.image_list_container {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  align-content: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  bottom: 0px;
}

.team {
  background-color: rgb(95%, 95%, 95%);
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team_text {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 94px;
  align-items: left;
}

.team_list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  column-gap: 30px;
}

.team_title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.team_list_item {
  background-color: white;
  width: 270px;
  height: 428px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.team_list_item_name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team_list_item_text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color2);
  padding-bottom: 30px;
}

.team_list_socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_list_socials_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team_list_socials_item_link:hover {
  background-color: rgb(0%, 50%, 100%);
}

.team_list_socials_item_link:hover .team_list_item_icon_platform {
  fill: white;
} */

/* .team_list_socials_item:hover ~ .team_list_item_icon_platform_hover:hover {
  fill: white;
} */

/* .team_list_item_icon {
  display: inline;
  padding-left: 25px;
}

.team_list_item_icon_circle {
  fill: white;
  transition: all 250ms;
}
.team_list_item_icon_platform {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: all 250ms;
}

.clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients_title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.clients_icon {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients_icon:hover {
  border-color: rgb(0%, 50%, 100%);
}

.clients_icon:hover .clients_icon_logo {
  fill: rgb(0%, 50%, 100%);
}

.clients_icon_all {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.clients_icon_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;
  transition: all 250ms;
  fill: #afb1b8;
}

.clients_icon_logo:hover,
.clients_icon_logo:focus {
  fill: rgb(0%, 50%, 100%);
  border-color: rgb(0%, 50%, 100%);
} */

/* .clients_icon_logo:nth-child(1) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.clients_icon_logo:nth-child(2) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.clients_icon_logo:nth-child(3) {
  padding-top: 33px;
  padding-bottom: 33px;
}
.clients_icon_logo:nth-child(4) {
  padding-top: 98px;
  padding-bottom: 98px;
}
.clients_icon_logo:nth-child(5) {
  padding-top: 56px;
  padding-bottom: 56px;
}
.clients_icon_logo:nth-child(6) {
  padding-top: 96px;
  padding-bottom: 96px;
} */

/* .portfolio {
  flex-basis: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.portfolio_list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.portfolio_list_button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  padding-top: 94px;
  padding-bottom: 34px;
  align-items: center;
}

.portfolio_list_button_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border: none;
  transition: all 250ms;
}

.portfolio_list_button_link:hover,
.portfolio_list_button_link:focus {
  background-color: rgb(0%, 50%, 100%);
  color: white;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #2196f3;
  border: none;
}

.portfolio_card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 20px;
}

.portfolio_card_item {
  border: 1px solid #e0e0e0;
  outline: 1px solid #e0e0e0;
  width: 370px;
  flex-basis: calc((100% / 3 * 20px) / 3);
  overflow: hidden;
  height: 404px;
  transition: all 250ms;
}

.portfolio_card_item:hover,
.portfolio_card_item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.portfolio_card_item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-left: 10px;
  margin-top: 10px;
}

.portfolio_card_item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color2);
  margin-left: 10px;
}

.portfolio_card_item_image {
  overflow: hidden;
  position: relative;
  height: 294px;
}

.portfolio_card_item_image:hover .portfolio_card_item_image_overlay {
  transform: translateX(0);
}

.portfolio_card_item_image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  align-content: center;
  padding: 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 156%;
}

.portfolio_card_item:nth-child(1) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/technocrack.png");
}
.portfolio_card_item:nth-child(2) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/neworleansgoldstar.png");
}
.portfolio_card_item:nth-child(3) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/seafood.png");
}
.portfolio_card_item:nth-child(4) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/projectprime.png");
}
.portfolio_card_item:nth-child(5) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/projectboxes.png");
}
.portfolio_card_item:nth-child(6) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/inspiration.png");
}
.portfolio_card_item:nth-child(7) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/limitededition.png");
}
.portfolio_card_item:nth-child(8) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/labeltag.png");
}
.portfolio_card_item:nth-child(9) .portfolio_card_item_image {
  background-image: url("../image/portfolioimage/growingbusiness.png");
}

.footer {
  background-color: rgb(20%, 20%, 20%);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_position {
  display: flex;
}

.footer_text {
  padding-top: 9px;
}
.footer_logo_studio {
  color: white;
  margin-bottom: 20px;
}
.footer_contact_list {
  font-style: normal;
}

.footer_contact_list_item {
  padding-top: 9px;
}

.footer_contact_list_item_link {
  color: var(--text-color2);
}

.footer_icon {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}

.footer_icon_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding-bottom: 20px;
}

.footer_icon_list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer_icon_list_item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
}

.footer_icon_list_item_link_platform {
  fill: white;
  align-items: center;
  justify-content: center;
}

.footer_icon_list_item:hover,
.footer_icon_list_item:focus {
  background-color: #2196f3;
}

.footer_input_search {
  margin-left: 93px;
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer_input_search_label {
  margin-bottom: 20px;
}

.footer_input_search_container {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.footer_input_search_name {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
  top: 10px;
  padding-left: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 126%;
}

.footer_input_search_button {
  display: inline-flex;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 187%;
} */
